File Edit Options Buffers Tools JavaScript Help                                                                         
{
    "smart_network_user": "server",
    "smart_network_password": "xxxx",
    "azure_user": "node",
    "azure_password": "xxxx"
}
